.bg-info {
    background: linear-gradient(#e83e98, #43a3bf, #18c777) !important;
    margin: 1em 1em;
}

.bg-light {
    background-color: yellow !important;
    border: 3px solid;
}


.header .navbar {
    width: 100%;
    max-width: 1024px;
    flex-direction: row;
}
.container-fluid{
    border: 3px solid yellow;
}

h2 {
    font-size: 2rem;
    margin: 1em 0;
}


.body {
    font-family: cursive;
    width: 100%;
    max-width: 1024px;
    
    padding: 1em;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;

}

.navbar-nav {
    color: rgb(61, 54, 54);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: flex-end;

}

.navbar-nav a:hover {
    border-radius: 6px;
    color: tomato;
    background-color: yellowgreen;
    transition: all 1s linear;
}

.navbar-collapse {
    justify-content: flex-end;
    font-family: cursive;

}

.container-fluid h1 {
    font-size: 2.5rem;
    text-align: center;
    display: inline;
    width: 100%;
    font-family: cursive;
    
}

.section {
    font-family: cursive;
    flex-direction: column;
    margin: 0 10em;
    display: flex;
    margin: 0 10em;
    align-items: center;

}

.section-a {
    font-family: cursive;
    flex-direction: column;
    margin: 0 10em;
    display: flex;
    margin: 0 10em;
    align-items: center;

}

.section h6 {
    text-align: center;
    font-size: 1.5em;
    margin: 0 10rem;
    text-align: center;
    width: 100%;
}

.nav-articule {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 2em 0;
    display: flex;
    align-items: center;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    align-items: center;
    flex-direction: column;
    display: block;
    display: flex;
    margin: 1em 1em;
}

.img-logo {
    vertical-align: middle;
    border-style: hidden;
    border-radius: 5px;
}

.img-2 {
    border-style: hidden;
    border: solid 2.5px;
    border-radius: 5px;
}
